html,body{
    margin: 0;
    height: 100%;
}
.container{
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
/* here is the header and the nav and the logo with the titel */
header{
background-color: #0F0F0F;
width: 100%;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo-sushi{

height: 80px;

margin-left: 10px;
}
.text-box{
width: 40%;
height: 120px;
background-color: lime;
}
/* this is for the dropdown menu */
.dorpdownmenu-box{
    
    display: flex;
    justify-content: center;
    align-items: center;
   width: 60px;
    height: 60px;
    margin-right: 50px;
    }

.dropdownmenu-logo{
height: 55px;


}
ul {
    background: #272424;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    color: #fff;
    background: #272424;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    text-align: center;
  }
  
  li a {
    color: #fff;
  }
  
  li:hover,
  li:focus-within {
    background: #269b24;
    cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
    background: #272424;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }
/* here wil be the main of the page */
main{
background-color: #1E1E1E;
width: 100%;
flex-grow:1 ;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.middle-part-text{
  display: flex;
  background-color: #1E1E1E;
  height: 90%;
  width: 55%;
 align-self: center;
 margin-left: 20px;
}
.fotos-box{
  width: 45%;
  height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.foto-box{
  background-color: #D9D9D9;
  border-width: 2px;
  border-color: #0F0F0F;
  border-style: solid;
  width: 350px;
  height: 40%;
  margin: 5px;
  
}

.midlepart{
  display: flex;
    background-color: #393939;
    height: 85%;
    width: 85%;
    border: #0F0F0F;
    border-style: solid;
    border-width: 3px; 

}
/* this is for the footer of the page */
footer{
    background-color: #1E1E1E;
    width: 100%;
    height: 83px;
}
.litllebar{
    background-color: black;
    border-radius: 100px;
    width: 98%;
    height: 3px;
    
    margin: 15px;
}
